
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #1a7266ef 0%, #7a175dee 100% );
}
.wrapper{
    margin: 15%;
    max-width: 400px;
    width: 100%;
    background:  #e9b970;
    border-radius: 3%;
    padding: 25px;
    
}
.wrapper header {
    font-size: 30px;
    font-weight: 600;
    color: #be0707;
}
.wrapper .inputField{
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}
.inputField input{
    outline: none;
    width: 85%;
    height: 100%;
    border: 1px solid #f3cdcd;
    font-size: 17px;
    border-radius: 5px;
    padding-left: 15px;
}
.inputField button{
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: #015a17;
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: none;
}
.inputField button.active{
    opacity: 1;
    pointer-events: auto;
}
.wrapper .todolist
{
        max-height: 250px;
        overflow-y: auto;

}
    .todolist li{
        list-style: none;
        height: 45px;
        line-height: 45px;
        position: relative;
        background: #ffcfff;
        border-radius: 5px;
        margin-bottom: 8px;
        padding: 0 15px;
        cursor: default;
        overflow: hidden;

    }
    .todolist li span {
        position: absolute;
        right: -45px;
        color: #ffffff;
        background: #be0707;
        align-items: center;
        text-align: center;
        width: 40px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .todolist li:hover span {
        right: 0px;
    }
    .wrapper .footer{
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        width: 100%;
    }
    .footer button{
        border: none;
        outline: none;
        background: #be0707;
        color: #ffffff;
        font-size: 15px;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 5px;
        padding: 6px 10px;
        opacity: 0.6;
        pointer-events: none;
    }
    .footer button.active{
        opacity: 1;
        pointer-events: auto;
    }
